DATABASE_URL="postgresql://postgres:postgres@localhost:5432"

# Copy/paste the contract address from the contract deployment step (see README)
BALLOT_CONTRACT_ADDRESS="0x5FbDB2315678afecb367f032d93F642f64180aa3"